<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>

    <div class="employees content">
        <h2><%= headline %></h2>

        <% if(employees.length > 0) { %>
            <% employees.forEach(employee => { %>

                <a href="/employees/<%= employee.id %>">
                    <h3 class="name"><%= employee.id + ' ' + employee.name + ' ' + employee.lastname %></h3>
                    <p class="department">Department: <%= employee.departmentid == 0 ? 'Development' : employee.departmentid == 1 ? 'Management' : 'HR' %></p>
                </a>

            <% }); %>
        <% }  else { %>
            <p>There are no employees to display...</p>
        <% } %>    
    </div>
</body>
</html>